<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesome linked here -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Doct</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    a {
        text-align: none;
        list-style: none;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 3px 30px;

        ul a {
            text-decoration: none;
            list-style: none;
            color: white;
        }

        ul,
        li {
            display: flex;
            gap: 30px;
        }
    }

    .nav2 {
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 10px 30px;

        .logo {
            color: aqua;
            font-size: 30px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }

        input {
            width: 30vw;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid gray;
        }
    }

    .hero {
        height: 250px;
        margin: 10px 0px;
        background-color: gray;
        background-image: url("https://rukminim2.flixcart.com/fk-p-flap/3240/540/image/28ce80d034b9c679.jpg?q=60");
        background-size: cover;
        background-position: center;

    }

    .container {
        width: 70%;
        margin: 40px auto;
        display: grid;
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row: 1fr 1fr;

        .card {
            width: 320px;
            /* background-color: skyblue; */
            display: flex;
            flex-direction: column;
            gap: 20px;
            .cardimage img {
                width: 100%;
                height: 400px;
                object-fit: cover;
            }
.intro{
    h3{
            margin-bottom: 8px;
            color: red;
        }
    span{
        color: gray;
        text-decoration: line-through;
        font-size: 18px;
        margin-left: 5px;
        
    }
    .off{
        color: green;
        text-decoration: none;
        font-size: 17px;
    }
}
        }

    }
</style>

<body>
    <div class="navbar">
        <h3>Ship to KSA</h3>
        <div>
            <ul>
                <li><a href="#">Trusted Shipping</a></li>
                <li><a href="#">Easy Returns</a></li>
                <li><a href="#">Secure shopping</a></li>
            </ul>
        </div>
    </div>

    <!-- nav 2 -->
    <div class="nav2">
        <div class="logo">Steela</div>
        <div class="searchbox"><input type="text" name="text" id="text" placeholder="what are you looking for"></div>
        <div class="cart">
<p>login</p>
<p> <i class="fa-solid fa-cart-shopping" style="color: #222121;"></i> cart </p>
<p> <i class="fa-solid fa-user" style="color: #000000;"></i> become a seller</p>
        </div>
    </div>

    <!-- hero section -->
    <div class="hero"></div>

    <div class="container">
        <div class="card">
            <div class="cardimage">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/n/k/x/free-kanjivaram-sarees-kanjivaram-saree-banarasi-silk-high-original-imah2jfecfdu3uev.jpeg?q=70"
                    alt=""></div>
            <div class="intro">
                <h3>ANAND</h3>
                <p>Printed, Floral Print Daily Wear Georgette Saree  (Pack of 2, Multicolor)</p>
                <h2>$439 <span>$3544</span> <span class="off"> 87% off</span></h2>
            </div>
        </div>
       
<!-- 2 -->
 <div class="card">
            <div class="cardimage">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/n/k/x/free-kanjivaram-sarees-kanjivaram-saree-banarasi-silk-high-original-imah2jfecfdu3uev.jpeg?q=70"
                    alt=""></div>
            <div class="intro">
                <h3>JAGRUL JM</h3>
                <p>Woven, Self Design Banarasi Silk Blend, Pure Silk Saree</p>
                <h2>$439 <span>$3544</span> <span class="off"> 87% off</span></h2>
            </div>
        </div>

        <!-- 3 -->
         <div class="card">
            <div class="cardimage">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/n/k/x/free-kanjivaram-sarees-kanjivaram-saree-banarasi-silk-high-original-imah2jfecfdu3uev.jpeg?q=70"
                    alt=""></div>
            <div class="intro">
                <h3>KanjiQueen</h3>
                <p>Embellished Bollywood Chiffon Saree Embellished Bollywood </p>
                <h2>$439 <span>$3544</span> <span class="off"> 87% off</span></h2>
            </div>
        </div>

        <!-- 4 -->
         <div class="card">
            <div class="cardimage">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/n/k/x/free-kanjivaram-sarees-kanjivaram-saree-banarasi-silk-high-original-imah2jfecfdu3uev.jpeg?q=70"
                    alt=""></div>
            <div class="intro">
                <h3>K 5 FASHION</h3>
                <p>Embroidered Bollywood Georgette Saree Embroidered Bollywood Georgette </p>
                <h2>$439 <span>$3544</span> <span class="off"> 87% off</span></h2>
            </div>
        </div>

        <!-- 5 -->
         <div class="card">
            <div class="cardimage">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/n/k/x/free-kanjivaram-sarees-kanjivaram-saree-banarasi-silk-high-original-imah2jfecfdu3uev.jpeg?q=70"
                    alt=""></div>
            <div class="intro">
                <h3>Tasrika</h3>
                <p>Woven, Self Design Banarasi Silk Blend, Pure Silk Saree</p>
                <h2>$439 <span>$3544</span> <span class="off"> 87% off</span></h2>
            </div>
        </div>

        <!-- 6 -->
         <div class="card">
            <div class="cardimage">
                <img src="https://rukminim2.flixcart.com/image/612/612/xif0q/sari/n/k/x/free-kanjivaram-sarees-kanjivaram-saree-banarasi-silk-high-original-imah2jfecfdu3uev.jpeg?q=70"
                    alt=""></div>
            <div class="intro">
                <h3>PD CLOTH VILLA</h3>
                <p>Woven, Self Design Banarasi Silk Blend, Pure Silk Saree</p>
                <h2>$439 <span>$3544</span> <span class="off"> 87% off</span></h2>
            </div>
        </div>
    </div>
</body>

</html>